<!DocTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My static web page</title>
    <!-- here in style we put css to style the tag bookstore -->
    <!-- if it is a class you need to add a '.' before the class name -->
    <link rel="stylesheet" href="div.css">
    <link rel="stylesheet" href="base.css">
</head>

<body style="background-color: antiquewhite;">
    <h1>This is my test static page</h1>
    <!-- <p><a href="esempi/liste.html">List examples</a><br></p> -->
    <button type="button" name="myButton"><a href="/?name=Bookstore">/..back to home</a></button>
    <p><br></p>
    <div class="borderedDiv" id="bookstore" style="width: 500px; margin: auto;"><br>Here we will display our bookstore<br><br></div>

    <!-- Here we generally put javascript code so we delay it's execution after the render of the entire page -->
    <script type="text/javascript" src="javascript/common.js"></script>
</body>

</html>